<h4>Login</h4>
<%= erb :'_errors' %>
<form action="/sessions" method="post">
  Username:
  <input type="text" name="username">
  Password:
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>
