<h1>Add Tracking</h1>
<%= erb :"_errors" %>
<form action="/trackings" method="post">
Number of tickets:
<input type="text" name="num_of_tix">
Event:
<select name="event">
  <%= @event_selection %>
</select><br><br>
Order Cost:
<input type="number" step=0.01 name="order_cost"><br><br>
<input type="submit" name="Add Tracking">
</form>
